$clr-primary:#033735;
$clr-secondary:#01e193;
$clr-tertiary:#e0ece8;

$border-clr-1:#dedede;
$border-clr-2:#dfdfdf;
$grey:#707070;

$clr-bg-1:#024f49;
$clr-white:#ffffff;










// rgb(255, 99, 14)
// #FF630E

// rgb(154, 25, 97)
// #9A1961

// rgb(105, 105, 105)
// #696969

// rgb(222, 222, 222)
// #dedede;

// rgb(247 247 247);
// #F7F7F7

// #070707

// rgb(19, 15, 64)
// #0e0a38